---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Page1 from '../components/Page1.astro'
import Page2 from '../components/Page2.astro'
import Page3 from '../components/Page3.astro'
import Page3_C from '../components/Page3_C.astro'
import Page4 from '../components/Page4.astro'
import Test from '../components/Test.astro'



---

<Layout title="Welcome to Astro.">
	<script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
	<main>
		<div class="HOME w-full h-full">
			<Page1 />
			<Page2 />
			<Page3_C />
			<!-- <Page3 /> -->
			<Page4 />
			<!-- <Test /> -->
		</div>
	</main>
</Layout>

