<div class="w-[90%] h-[20vh] border-t-4 border-white flex items-center justify-between max-[640px]:flex-col max-[640px]:justify-center pl-[30px] pr-[30px]">
    <h2>@ 2023 eGyanamTech Inc. All Rights</h2>
    <div class="w-[10%] max-[640px]:w-1/2  max-[640px]:pt-[15px] flex items-center justify-between">
        <div class="h-[15px] w-[15px] rounded-[15px] bg-purple-600"></div>
        <div class="h-[15px] w-[15px] rounded-[15px] bg-purple-600"></div>
        <div class="h-[15px] w-[15px] rounded-[15px] bg-purple-600"></div>
        <div class="h-[15px] w-[15px] rounded-[15px] bg-purple-600"></div>
    </div>
</div>