<div class="NAVBAR w-full h-[10vh]  flex items-center justify-between ">
    <div class="NAVOPTIONS h-full w-[40%]  max-[1080px]:w-[60%] flex items-center justify-between">
        <h2 class="text-3xl max-[640px]:text-2xl max-[1080px]:text-xl  max-[1080px]:font-semibold">eGyanamTech</h2>
        <p class="max-[640px]:hidden">Pricing</p>
        <p class="max-[640px]:hidden">Documentation</p>
        <p class="max-[640px]:hidden">Extra</p>
    </div>
    <div class="NAVOPTIONS h-full w-[17%] max-[1080px]:w-[40%] flex items-center justify-between max-[1080px]:justify-end max-[640px]:hidden">
        <button class=" border-pink-400 border-[3px] p-[5px] pl-[20px] pr-[20px] rounded-[50px] max-[1080px]:mr-[10px]">Sign in</button>
        <button class=" border-pink-400 border-[3px] bg-pink-400 p-[5px] pl-[20px] pr-[20px] rounded-[50px]">Try Free</button>
    </div>
    <div class="NAVOPTIONS_MOBILE h-full w-[17%] flex items-center justify-end max-[640px]:flex min-[640px]:hidden">
        <button class=" border-pink-400 h-[30px] bg-pink-600 w-[30px] rounded-[50px]"></button>
    </div>
</div>