<div class="PAGE4 w-full h-[100vh] flex items-start justify-center flex-col p-[20px] pl-[40px] pr-[40px]">
    <div class="w-full h-[85%] flex items-start justify-center flex-col">
        <div class="w-full h-[60%] flex items-center justify-center">
            <h2 class="text-2xl text-center">With eGyanamTech's ISMS, you gain a single source of truth for all your cybersecurity and compliance needs, empowering you to focus on your core business with confidence. </h2>
        </div>
        <div class="w-full h-[40%] flex items-start justify-center"></div>
    </div>
    <div class="w-full h-[15%] border-t-4 border-white flex items-center justify-between max-[640px]:flex-col max-[640px]:justify-center">
        <h2>@ 2023 eGyanamTech Inc. All Rights</h2>
        <div class="w-[10%] max-[640px]:w-1/2  max-[640px]:pt-[15px] flex items-center justify-between">
            <div class="h-[15px] w-[15px] rounded-[15px] bg-purple-600"></div>
            <div class="h-[15px] w-[15px] rounded-[15px] bg-purple-600"></div>
            <div class="h-[15px] w-[15px] rounded-[15px] bg-purple-600"></div>
            <div class="h-[15px] w-[15px] rounded-[15px] bg-purple-600"></div>
        </div>
    </div>
</div>